--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3 (Debian 16.3-1.pgdg120+1)
-- Dumped by pg_dump version 16.3 (Debian 16.3-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: project4_2; Type: SCHEMA; Schema: -; Owner: luckyhunter
--

CREATE SCHEMA project4_2;


ALTER SCHEMA project4_2 OWNER TO luckyhunter;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: client; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.client (
    id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    birth_date date NOT NULL,
    phone_number character varying(15) NOT NULL,
    email character varying(255) NOT NULL,
    login character varying(50) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE project4_2.client OWNER TO luckyhunter;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE project4_2.client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME project4_2.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comment; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.comment (
    id integer NOT NULL,
    task_id integer,
    title character varying(255) NOT NULL,
    description text
);


ALTER TABLE project4_2.comment OWNER TO luckyhunter;

--
-- Name: comment_id_seq; Type: SEQUENCE; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE project4_2.comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME project4_2.comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: databasechangelog; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.databasechangelog (
    id character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    filename character varying(255) NOT NULL,
    dateexecuted timestamp without time zone NOT NULL,
    orderexecuted integer NOT NULL,
    exectype character varying(10) NOT NULL,
    md5sum character varying(35),
    description character varying(255),
    comments character varying(255),
    tag character varying(255),
    liquibase character varying(20),
    contexts character varying(255),
    labels character varying(255),
    deployment_id character varying(10)
);


ALTER TABLE project4_2.databasechangelog OWNER TO luckyhunter;

--
-- Name: tag; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.tag (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    color_code character varying(7)
);


ALTER TABLE project4_2.tag OWNER TO luckyhunter;

--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: project4_2; Owner: luckyhunter
--

CREATE SEQUENCE project4_2.tag_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE project4_2.tag_id_seq OWNER TO luckyhunter;

--
-- Name: tag_id_seq; Type: SEQUENCE OWNED BY; Schema: project4_2; Owner: luckyhunter
--

ALTER SEQUENCE project4_2.tag_id_seq OWNED BY project4_2.tag.id;


--
-- Name: tag_test; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.tag_test (
    id bigint NOT NULL,
    name character varying(255),
    color character varying(255)
);


ALTER TABLE project4_2.tag_test OWNER TO luckyhunter;

--
-- Name: tags_seq; Type: SEQUENCE; Schema: project4_2; Owner: luckyhunter
--

CREATE SEQUENCE project4_2.tags_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE project4_2.tags_seq OWNER TO luckyhunter;

--
-- Name: task; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.task (
    id integer NOT NULL,
    user_id integer,
    title character varying(255) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'Not started'::character varying,
    planned_start timestamp without time zone,
    planned_end timestamp without time zone,
    CONSTRAINT task_status_check CHECK (((status)::text = ANY ((ARRAY['Not started'::character varying, 'In progress'::character varying, 'Done'::character varying])::text[])))
);


ALTER TABLE project4_2.task OWNER TO luckyhunter;

--
-- Name: task_id_seq; Type: SEQUENCE; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE project4_2.task ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME project4_2.task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: task_tag; Type: TABLE; Schema: project4_2; Owner: luckyhunter
--

CREATE TABLE project4_2.task_tag (
    task_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE project4_2.task_tag OWNER TO luckyhunter;

--
-- Name: tag id; Type: DEFAULT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.tag ALTER COLUMN id SET DEFAULT nextval('project4_2.tag_id_seq'::regclass);


--
-- Data for Name: client; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--



--
-- Data for Name: comment; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--



--
-- Data for Name: databasechangelog; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--

COPY project4_2.databasechangelog (id, author, filename, dateexecuted, orderexecuted, exectype, md5sum, description, comments, tag, liquibase, contexts, labels, deployment_id) FROM stdin;
TRC-1-0	Airat Zaripov	src/main/resources/db/changelog/version_1_0/TRC-1.xml	2024-09-14 13:08:08.777603	1	EXECUTED	9:4c83f0b6191b529edec7bb53fed414c8	createTable tableName=tag_test; createSequence sequenceName=tags_seq		\N	4.29.0	\N	\N	6312088730
\.


--
-- Data for Name: tag; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--

COPY project4_2.tag (id, name, color_code) FROM stdin;
3	╨Ю╨┐╨░╤Б╨╜╨╛╤Б╤В╤М	#ff0000
4	╨Ь╨╛╤А╨╡	#0000ff
5	╨г╤Б╤В╨╗╨к	#704848
6	╨а╨░╨╖╨▓╨╗╨╡╤З╨╡╨╜╨╕╨╡	#c176d0
1	╨а╨░╨▒╨╛╤В╨░	#582bf7
7	╨Ф╨╛╨╝╨░╤И╨╜╨╕╨╡ ╨┤╨╡╨╗╨░	#f0ea47
8	╨Ю╤В╨┤╤Л╤Е	#e7dede
\.


--
-- Data for Name: tag_test; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--

COPY project4_2.tag_test (id, name, color) FROM stdin;
\.


--
-- Data for Name: task; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--



--
-- Data for Name: task_tag; Type: TABLE DATA; Schema: project4_2; Owner: luckyhunter
--

COPY project4_2.task_tag (task_id, tag_id) FROM stdin;
35	1
35	3
33	3
33	4
33	5
33	1
33	7
33	6
36	5
38	3
40	3
40	1
40	7
42	1
42	7
42	5
43	3
41	1
41	7
\.


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: project4_2; Owner: luckyhunter
--

SELECT pg_catalog.setval('project4_2.client_id_seq', 8, true);


--
-- Name: comment_id_seq; Type: SEQUENCE SET; Schema: project4_2; Owner: luckyhunter
--

SELECT pg_catalog.setval('project4_2.comment_id_seq', 33, true);


--
-- Name: tag_id_seq; Type: SEQUENCE SET; Schema: project4_2; Owner: luckyhunter
--

SELECT pg_catalog.setval('project4_2.tag_id_seq', 8, true);


--
-- Name: tags_seq; Type: SEQUENCE SET; Schema: project4_2; Owner: luckyhunter
--

SELECT pg_catalog.setval('project4_2.tags_seq', 1, false);


--
-- Name: task_id_seq; Type: SEQUENCE SET; Schema: project4_2; Owner: luckyhunter
--

SELECT pg_catalog.setval('project4_2.task_id_seq', 45, true);


--
-- Name: client client_email_key; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.client
    ADD CONSTRAINT client_email_key UNIQUE (email);


--
-- Name: client client_login_key; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.client
    ADD CONSTRAINT client_login_key UNIQUE (login);


--
-- Name: client client_phone_number_key; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.client
    ADD CONSTRAINT client_phone_number_key UNIQUE (phone_number);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: comment comment_pkey; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.comment
    ADD CONSTRAINT comment_pkey PRIMARY KEY (id);


--
-- Name: tag_test pk_tags; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.tag_test
    ADD CONSTRAINT pk_tags PRIMARY KEY (id);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: task task_pkey; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.task
    ADD CONSTRAINT task_pkey PRIMARY KEY (id);


--
-- Name: task_tag task_tag_pkey; Type: CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.task_tag
    ADD CONSTRAINT task_tag_pkey PRIMARY KEY (task_id, tag_id);


--
-- Name: comment comment_task_id_fkey; Type: FK CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.comment
    ADD CONSTRAINT comment_task_id_fkey FOREIGN KEY (task_id) REFERENCES project4_2.task(id) ON DELETE CASCADE;


--
-- Name: task_tag task_tag_tag_id_fkey; Type: FK CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.task_tag
    ADD CONSTRAINT task_tag_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES project4_2.tag(id) ON DELETE CASCADE;


--
-- Name: task_tag task_tag_task_id_fkey; Type: FK CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.task_tag
    ADD CONSTRAINT task_tag_task_id_fkey FOREIGN KEY (task_id) REFERENCES project4_2.task(id) ON DELETE CASCADE;


--
-- Name: task task_user_id_fkey; Type: FK CONSTRAINT; Schema: project4_2; Owner: luckyhunter
--

ALTER TABLE ONLY project4_2.task
    ADD CONSTRAINT task_user_id_fkey FOREIGN KEY (user_id) REFERENCES project4_2.client(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

